
* {
    box-sizing: border-box;
}

body {
    background-color: darkred;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;
}

/* making the main part of the intro: */
#header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

#header img {
    max-width: 200px;
    float: right;
}

#header h1 {
    color: rgb(110, 183, 0);
    font-size: 3.5rem;
}

#contact-button {
    border: none;
    background-color: rgb(0, 89, 0);
    border-color: rgb(91, 255, 91);
    padding: .5rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/*Contact info*/

#pizza-form{
    border-color: rgb(87, 188, 87);
}

input [type = "text"], input [type = "email"], select, textarea{
    width: 100%;
    border: 1px solid rgb(37, 171, 0);
    border-radius: .25em;
    margin: 0rem 0rem 1rem 0rem;
    padding: .75rem;
}

/* customizing the legend and fieldset*/
legend {
    color: darkgreen;
    font-variant: small-caps;
    font-size: 1.5;
    padding-left: 1rem;
    width: 100%;
}

fieldset {
    border: 1px solid darkgreen;
    padding: 1rem; 
    margin-bottom: 1.25rem;
}

label {
    display: block;
    padding-bottom: 0.5rem;
}

textarea{
    resize:  none;
}